@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.inicio {
  background: #21c08b;
}

.login {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#AB88FF));
  background: linear-gradient(#21c08b, #AB88FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px  30px;
  min-height: calc(100vh -200px);
}

.login .login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: 2px solid white;
  padding: 60px 68px 40px;
  color: white;
  min-height: 700px;
  width: 400px;
}

.login .login__container .login__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login__container .login__container--form .login__container__remeberMe {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .login__container .login__container--form .login__container__remeberMe a {
  padding-left: 30px;
  text-decoration: none;
  color: white;
}

.login .login__container .login__container--form .login__container__remeberMe a:hover {
  text-decoration: underline;
}

.login .login__container .login__container--form button {
  border-radius: 40px;
  margin-top: 30px;
  padding: 15px;
  color: white;
  border: none;
  background-color: gray;
}

.login .login__container .login__container--form .login__container--input {
  width: 100%;
  border-left: none;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid white;
  padding: 10px 10px;
  margin-top: 20px;
  background: transparent;
}

.login .login__container .login__container--form .login__container--input::-webkit-input-placeholder {
  color: white;
}

.login .login__container .login__container--form .login__container--input:-ms-input-placeholder {
  color: white;
}

.login .login__container .login__container--form .login__container--input::-ms-input-placeholder {
  color: white;
}

.login .login__container .login__container--form .login__container--input::placeholder {
  color: white;
}

.login .login__container .login__container__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login__container .login__container__icons .login__container__icons--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.login .login__container .login__container__icons .login__container__icons--icon img {
  width: 30px;
  margin-right: 10px;
}

.login .login__container .login_container_register {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .login__container .login_container_register a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.login .login__container .login_container_register a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: #8F57FD;
}

header {
  width: 100%;
  height: 80px;
  background-color: #8F57FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_logo {
  margin-left: 10px;
  width: 200px;
}

header .header__menu {
  margin-right: 60px;
}

header .header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 100px 0px 0px -14px;
}

header .header__menu:hover ul, header ul:hover {
  display: block;
}

.header__menu--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
}

.header__menu--profile li {
  margin: 10px 0px;
}

.header__menu--profile li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.header__menu--profile li a:hover {
  color: black;
}

.info {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .info__title {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.info .input {
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

footer {
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: black;
  width: 100%;
  margin-bottom: 0px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer ul li {
  padding: 10px 20px;
}

.carrousel {
  width: 100%;
  overflow: scroll;
  padding: 0px 15px 15px 15px;
  position: relative;
}

.carrousel .carrousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carrousel .carrousel__container .carrousel__items {
  background-color: pink;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.carrousel .carrousel__container .carrousel__items:hover ~ .carrousel__items {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.carrousel .carrousel__container .carrousel__items .carrousel__items_imageMain {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 100%;
}

.carrousel .carrousel__container .carrousel__items .carrousel-items_details {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(110%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 110%);
  font-size: 10px;
  -webkit-transition: 0.45s opacity;
  transition: 0.45s opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Mono', monospace;
}

.carrousel .carrousel__container .carrousel__items .carrousel-items_details img {
  width: 35px;
}

.carrousel .carrousel__container .carrousel__items .carrousel-items_details .carrousel_items_details_title {
  font-size: 14px;
  padding-left: 5px;
}

.carrousel .carrousel__container .carrousel__items .carrousel-items_details .carrousel_items_details_subtitle {
  font-size: 12px;
  padding-left: 10px;
}

.carrousel__container:hover .carrousel__items:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.carrousel__container:hover .carrousel__items {
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */