@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import "_login";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    background-color:#8F57FD;
   
}
.profile{
    border-radius: 50%;
    width: 100px;
    border: 2px solid transparent;
    object-fit: cover;
}
header{
    width: 100%;
    height: 80px;
    background-color:#8F57FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo{
        margin-left: 10px;
        width: 200px;
    }
    .header__menu{
        margin-right: 60px;
        ul{ 
            display: none;
            list-style: none;
            padding:0px;
            position:absolute;
            width: 100px;
            text-align: right;
            margin: 100px 0px 0px -14px;
        }
    }
    .header__menu:hover ul, ul:hover{
            display: block;
        }
    }
    .header__menu--profile{
        display: flex;
        align-items:center;
        justify-content: center;
       
        img{
            margin-right: 8px;
            width: 40px;
        }
        p{
            margin:0px;
            color: white;
        }
        li{
            margin: 10px 0px;
            a{
            text-decoration: none;
            color: white;
            transition: all 0.45s;
            &:hover{
                color: black;
            }
            }
        }
        
    }
.info{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info__title{
        color: white;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .input{
        border: 2px solid white;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        height: 50px;
        padding:0px 20px;
        width: 70%;
        background-color: rgba(255,255,255,0.1);
        outline: none;
    }
}
::placeholder{
    color:white;
}
.categories__title{
    color:white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
}
.carrousel{
    width: 100%;
    overflow: hidden;
    padding: 0px 15px 15px 15px;
    position: relative;
.carrousel__container{
    display: flex;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
.carrousel__items{
    background-color: pink;
    position: relative;//I'm giving it the styles 
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display:inline-block;
    cursor: pointer;
    transition: all 0.45s;
    transform-origin: center left;//para que no empiece de izquierda a d
    &:hover ~ .carrousel__items{
        transform:translate3d(100px, 0 ,0)
    }
    .carrousel__items_imageMain{
        object-fit:cover;
        width: 200px;
        height: 100%;
    }
    .carrousel-items_details{
        background: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)110%);
        font-size: 10px;
        // opacity: 1;
        transition: 0.45s opacity;
        padding:10px;
        position: absolute;//the container has a relative position so I can move this object because I'm giving it an absolute position 
        right:0;
        left: 0;
        bottom: 0;
        color: white;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto Mono', monospace;
        img{
            width:35px;
        }
        .carrousel_items_details_title{
            font-size: 14px;
            padding-left: 5px;
        }        
        .carrousel_items_details_subtitle{
            font-size: 12px;
            padding-left: 10px;
        }        
    }

}
}
}
.carrousel__container:hover .carrousel__items:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carrousel__container:hover .carrousel__items{
    opacity: 0.3;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0px;
    color: white;
    height: 100px;
    width: 100%;
    text-decoration: none;
    background-color:#AB88FF;
    // margin-top: 250px;
    ul{}
    .footer__link{
        color:white;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        transition: all 0.45s;
        &:hover{
            text-decoration: underline;
        }
    }
    }
@media only screen and (max-width:1100px){
 .carrousel__container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     white-space: normal;
     margin: none;
 }
    .footer{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
}
@media only screen and (max-width:600px){
 .carrousel__container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     .carrousel__items{
        position: relative;//I'm giving it the styles 
        width: 400px;
        height: 250px;
    }
 }
    .footer{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
}