*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}
header{
    width: 100%;
    background-color:green;
    display: flex;
    justify-content: space-between;
    .nav-list{
        color:white;
        ul{
            list-style: none;
            display:flex;
            padding:10px 20px;
            li{
                padding-left: 20px;
            }
        }
    }
    h1{
        color:white;
    }
}
.info{
    padding:100px 100px;
    p:nth-child(2n){
        color: red;
    }
}
footer{
position: fixed;
bottom: 0px;
color: white;
background-color: black;
width: 100%;
// margin-top: 250px;

margin-bottom: 0px;
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    li{
        padding:10px 20px;
    }

}
}