*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}
header{
    width: 100%;
    background-color:green;
    display: flex;
    justify-content: space-between;
    .nav-list{
        color:white;
        ul{
            list-style: none;
            display:flex;
            padding:10px 20px;
            li{
                padding-left: 20px;
            }
        }
    }
    h1{
        color:white;
    }
}
body{
    p{
        
    }
}