/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background:#F9C71B;
}
.product-grid{
    display: grid;
    //Empezando con mobile-first
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}
@media (min-width:576px){
    .product-grid{
        grid-template-columns:repeat(3,1fr)
    }
}
